.menu-item {
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .menu-item:hover {
    background-color: #eaeaea;
  }
  .device-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .device-item:hover {
    background-color: #f2f2f2;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .device-item {
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
  }
  
  .device-item.empty {
    visibility: hidden;
  }
  .card-container {
    flex-wrap: wrap;
    margin: 0px 20px 20px 20px;
  }
  
  .card-item {
    flex: 0 0 240px;
  }

  .card-off  {
    background: #D9D9D9;
  }

  .card-on {
       background: #D9D9D9;
       color:#036E9B ;
  }
  
  .card-disconnect {
    background: #D9D9D9;
    color: black;
  }
  .gray-fill {
    fill: gray;
  }

  .ant-modal-confirm-btns span{
    color: black;
    transition: 0.2s ease-in-out;
  }

 .ant-btn-primary:hover span {
  color: white;
 }
 @media (max-width:1023px){
  .responsive_chart{
      flex-direction: column;
  }}

