.ant-layout-sider-trigger{
    position: relative;
    top: 0;
    background: white
}
.customMenuItem {
    font-size: 16px;
    color: red;
  }
.ant-select-suffix{
    font-weight: 800;
}

.button-add-feed{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
}
.button-add-feed1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    transition: 0.2s ease-in-out;
}
.button-add-feed:hover{
    color: #429D44;

}
.button-add-feed1{
    display: none;
}
@media (max-width:1023px){
  
.height_chart_mobile{
    height: 200px;
}

}

.chartKg{
    width: 50%;
}
@media (max-width:768px){
   .responsive_select{
    flex-direction: column;
   }
.button-add-feed1{
    display: block;
}
   .container-chart{
    flex-direction: column;
   }
   .chartKg{
    width: 100%;
   }
.text-table-responsive{
    font-size: 10px;
}
.text-table-responsiveValue{
    font-size: 10px;
}
.text-table-responsiveStatus{
    display: none;
   
}
.button-add-feed{display: none;}
.modalMobile{
    width: 300px;
}
.modalAdd-PC{
    display: none;
}

.editModalMobile{
    flex-direction: column;
}
.editModalMobileArea{
    flex-direction: column;
  

}
.editFishPond{
    margin-top: 10px;
}
}



.nuni-font {
    font-family: 'Nunito Sans', sans-serif;
  }

  