/* Apply this class to the content Layout when Sider is collapsed */
.content-collapsed {
    width: calc(100% - 80px);
  }
  
  /* Apply this class to the content Layout when Sider is not collapsed */
  .content-expanded {
    width: calc(100% - 200px);
  }


  /* Mobile Nav */

  .navbar_mobile{
    display: none;
  }
  .layout-mobile{
    display: none;
   }
  @media (max-width:1023px){
   .navbar_mobile{
    display: block;
   }
   .navbar_pc{
    display: none;
   }
  
  }
  .nav_bar_mobile {
    display: none;
  }

@media (max-width:1023px){
  .nav_bar_pc{
    display: none;
  }
  .nav_bar_mobile{
    display: block;
  }
}
@media (max-width:768px){

  .imglogoVHC{
    display: none;
}
}
.waterGradient{
  transition: fill 1s ease-in-out; /* Hiệu ứng transition cho thuộc tính fill */
}
.button-container {
  position: relative;
  display: inline-block;
}

.button-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white; /* Màu nền overlay */
  padding: 5px 50px;
  border-radius: 5px;
  opacity: 0; /* Mặc định ẩn chữ */
  transition: opacity 0.3s; /* Hiệu ứng hiển thị */
}

.button-container:hover .button-text {
  opacity: 1; /* Hiển thị chữ khi hover */
}
.card-remote {
  background-color: green; 
  color: white;
}
.card-control{
  background-color: #036E9B;
  color: white

}
.hoverbutton-excel{
  transition: 0.3s ease-in-out;
}
.ant-table-pagination{
 padding-right: 50px;
}

.gray-switch .ant-switch-inner {
  border:1px solid gray
}
.gray-switch .ant-switch-handle::before {
  border:1px solid gray
}

.MOBILE-RES{
  display: none;
}


@media (max-width : 1024px) {
  .PC-RES{
    display: none;
  }

.MOBILE-RES{
  display: block;
}

}