

.login-form-button{
  width: 400px;

  height: 50px;
  border-radius: 10px;
  background: #779341;
  box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
  
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  
}

.text-hethong{
  color: #036E9B;
 
}
   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, #779341 -1.04%, #069 75.96%);
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  .login-form-subtitle{
    font-size: 15px;
    color: gray;
  }
.login-form-containerMobile{
  display: none;
}
  .login-form-container {
    position: relative;
    right:100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 650px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;

  }

  .fishsh{
    width: 400px;
  }

.login-pass-id{
    width: 400px;
    height: 50px;
    border-radius: 10px;
  }
  .aucontech-copyright{
    font-size: 12px;
  }
  .sign-in{
    font-size: 45px;
  }
@media (max-width:1023px){
  .imglogologin{
    display: none;

  }
  .login-form-containerMobile{
    display: block;
  }
 
}
@media (max-width:768px){
 .none-text-login {
  display: none;
 }
 .login-form-button{
  width: 300px;
 }
  .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 600px;
    background: rgba(255, 255, 255, 0.75);

    border-radius: 10px;
  }
  .sign-in{
    font-size: 30px;
  }
  .fishsh{
    width: 200px;
  }
  .text-hethong{
    font-size: 25px;
  }
  .login-form-subtitle{
    font-size: 14px;
  }
  .login-pass-id{
    width: 300px;
    height: 40px;
  }
  .aucontech-copyright{
    font-size: 10px;
    
  }
  .imgFish{
    display: none;
  }
}
