

@keyframes animation1 {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}
.FeedTrans {
  animation-name:animation1 ;
  transition: transform 0.3s ease-out;
  animation-duration: 1s;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background: #036E9B;
  color: white;

}
.FeedTrans:hover{
  background: #3f95ba;
  color: white;
}

.active {
  transform: translateY(-50px);
}
.FeedTrans1 {
  cursor: pointer;
  animation-name:animation2 ;
  transition: transform 0.3s ease-out;
  animation-duration: 1s;
  transition: 0.4s ease-in-out;
  background: #036E9B;
  color: white;

}

.FeedTrans1:hover{
  background: #3f95ba;
  color: white;
}
@keyframes animation2 {
  from {
    transform: translateY(500%);
  }
  to {
    transform: translateY(0);
  }
}