.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-btn-primary{
  background-color: rgb(91, 128, 207);
  color: white;
}

.text-titleBorder{
  border-radius: 5px 5px 0px 0px;
}
.borderChartBottom {
  border-radius: 0px 0px 5px 5px;

}
.App{
  font-family: 'Inter', sans-serif;
}
.ant-layout-content{
background-color: #eceff3;
height: 100%;
}
.ant-tabs-ink-bar-animated{
  display: none;
}
.ant-modal-content{
  margin-bottom: 50px;
}
.table-row-selected {
  color: blue;
}

.ant-picker-clear{
  display: none;
}
